/* --- Card Carousel Responsive Styles --- */
/* Mobile */
.carouselContainer {
  height: 440px;
}

.carouselCard {
  max-width: 260px;
  height: 350px;
  padding: 1.4rem;
}

.carouselName {
  font-size: 1.4rem;
}

.carouselRole {
  font-size: 0.8rem;
}

.carouselEmail {
  font-size: 0.75rem;
}

.carouselImage {
  flex: 1;
  min-height: 50px;
  margin-bottom: 0.5rem;
}

.aboutTitle {
  margin-bottom: 0rem;
  margin-left: 0rem;
}

/* Desktop */
@media (min-width: 768px) {
  .carouselContainer {
    height: 600px;
  }

  .carouselCard {
    max-width: 360px;
    height: 460px;
    padding: 2rem;
  }

  .carouselName {
    font-size: 1.8rem;
  }

  .carouselRole {
    font-size: 1.1rem;
  }

  .carouselEmail {
    font-size: 1rem;
  }

  .carouselImage {
    min-height: 160px;
    margin-bottom: 1rem;
  }

  .aboutTitle {
    margin-bottom: 0rem;
    margin-left: 3rem;
  }
}